

:root{
    --cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --blue: hsl(212, 21%, 14%);
    --grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}



body{
    background: var(--cream);
   
}

.card{
    
    background-color: var(--white);
    border-radius: 12px;
    width: 344px;
    box-sizing: border-box;}

.card h2, .price{
    font-family: "Fraunces";
    font-size: 32px;
    line-height: 1.5ch;
    
    
}


.image{
   background: var(--cyan);
   width: 100%;
   height: 240px;
   border-radius: 12px 12px 0 0;
   background-image: url('./images/image-product-mobile.jpg');
   object-fit: cover;
   background-position: center;
   background-size: contain;
   
}

.content{
    width: 85%;
    margin: 0 auto;
    padding: 0 10px;
   
}

.description, .title, .discount{
    font-family: "Montserrat";
}

.name{
    margin-top: 0;
    margin-bottom: 0;
}
.description{
    font-size: 14px;
    line-height: 2.5ch;
    margin-top: 12px;
    margin-bottom: 0;
    
    
}

.numbers{
    height: fit-content;
    display: flex;
    margin: 0 auto;
    padding: 0px;
}

.price{
    font-weight: 700;
    color: var(--cyan);
    
}

.discount{
    text-decoration: line-through;
    margin: auto 10px;
    font-size: 12px;
}

.title{
    font-size: 12px;
    letter-spacing: 0.5ch;
    text-transform: uppercase;
    display: block;
    margin-top: 24px;
    
}

.btn{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: var(--cyan);
    color: var(--white);
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 16px;
}


@media (min-width: 1000px) {
    .card{
        width: 542px;
        display: flex;
        margin: 100px auto;
    }

    .image{
        width: 498px;
        height: 442px;
        border-radius: 12px 0 0 12px;
        background-image: url('./images/image-product-desktop.jpg');
        object-fit: cover;
        background-position: center;
        background-size: contain;
    }   

    .content{
        
        width: 74%;
        padding: 0 26px;
    }
/* 
    .name{
        background: yellow;
    } */
    
}



